# Environment
.env
/auth.json

# Dependencies
/node_modules
/vendor

# Build assets
/public/build
/public/hot

# Storage & cache
/storage/*.key

/storage/framework/cache/*
!/storage/framework/cache/.gitkeep

/storage/framework/sessions/*
!/storage/framework/sessions/.gitkeep

/storage/framework/views/*
!/storage/framework/views/.gitkeep

/storage/logs/*
!/storage/logs/.gitkeep

/storage/debugbar

# PHPUnit
/.phpunit.cache
.phpunit.result.cache

# IDE / OS
/.idea
/.vscode
/.fleet
/.nova
/.zed

# Homestead
Homestead.json
Homestead.yaml

# Logs
npm-debug.log
yarn-error.log
