body {
    background-color: #f8f9fa;
}

.sidebar {
    width: 240px;
    min-height: 100vh;
    background-color: #343a40;
    padding: 1.5rem 1rem;
    border-right: 1px solid #495057;
}

.sidebar h4 {
    color: #fff;
    font-weight: bold;
    margin-bottom: 2rem;
}

.nav-link {
    color: #adb5bd;
    font-weight: 500;
    transition: 0.3s;
}

.nav-link:hover, .nav-link.active {
    background-color: #495057;
    color: #fff;
    border-radius: 8px;
}

.content-wrapper {
    flex-grow: 1;
    padding: 2rem;
}

.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.logout-button .btn {
    border-radius: 20px;
}

.card {
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.05);
}

.upload-box {
    width: 180px;
    height: 240px;
    border: 2px dashed #4e73df;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: #f8faff;
    font-weight: 600;
    color: #4e73df;
    overflow: hidden;
    position: relative;
}

#previewImage {
    width: 100%;
    height: 100%;
    object-fit: cover;     
    display: none;         
}
        
#removeImageBtn:hover {
    transform: scale(1.15);
    background:#d40000;
}